
/* ClearFix
	clear: both;
    display: table;
    content: ''; */



html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit; }
}

body{
	width: 800px;
	margin: 0 auto;
	background-color: #FFF;
	/*padding: 0px 20px 20px 20px;*/
	
}

h1{
	margin: 0;
	padding: 0px 0px 0px 0px;
	display: inline; 
}
h2, h3, h4{
	margin: 0;
}

.name{
	font-size: 26px;
}

span{
	font-size: 12px;
	opacity: .5;
}

.wrapper{
	width: 80%;
	margin: 0 auto;

	/*border: 2px solid #2a2aa2;*/
}


nav ul{
	display: inline;
	float: right;
}

nav a{
	color: #fff;
	border-radius: 6px;
}

nav a:visited{
	color: #fff;
}

nav a:hover{
	background-color: #80aaff;
	color: #e6eeff;
	transition-duration: .4s;
}

.workLinks a{
	color: #000;
	display: block;

}
.topWrapper{
	background-color: #9bf;
	width: 100%
}

header{
	margin: 0 auto;
	max-width: 1200px;
	color: #fff;
	padding: 20px 10px 20px 20px;
	
}

header:after{
	clear: both;
    display: table;
    content: '';
}

ul{
	margin: 0;
	padding: 0;

}

nav ul li {
	float: left;
	display: inline;


}

li a {
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 10px 20px
}

.dropdown{
}

.dpContent{
	display: none;
	position: absolute;
	background-color: #80aaff;
	min-width: 120px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 6px;
}

.dpContent a{
	display: block;
	padding: 12px 16px;
}

.dropdown:hover .dpContent{
	display: block;
}

.main{
	margin: 0 auto;
	padding: 80px 100px 100px 100px;
	text-align: center;
	max-width: 1200px;
	font-size: 20px;
}

.pageTitle{
	padding: 20px 0;
}

.resumeBody{
	width: 85%;
	margin: 0 auto;
}

.resumeBody .employer{
	font-weight: bold;
}

.resumeBody .dates{
	opacity: .5;
}

.bPoints li{
	padding: 4px 0;
}

#myResume{
	color: #fff;
	text-align: center;
	background-color: #80aaff;
	border: 8px solid #9bf;
	border: 8px solid #9bf;
	margin: 40px auto;
}

#myWork{
	color: #fff;
	text-align: center;
	background-color: #80aaff;
	border: 8px solid #9bf;
	margin: 40px 0px;
}

#contactMe{
	color: #fff;
	text-align: center;
	background-color: #80aaff;
	border: 8px solid #9bf;
	margin: 40px 0px;	
}

.resume .bPoints{
	padding: 10px 18px;
}


.linkboxes{
	padding: 10px 0px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.box{
	margin: 10px auto;
}

.imageprev{
	height: 302px;
	width: 302px;
	border: 1px solid #bbb;
}

.slideshowContainer{
	width: 100%;
	position: relative;
	margin: auto;

}

.slides{
	display: none;
}

.prev, .next{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.caption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

