html {
  box-sizing: border-box; 
}

*, *:before, *:after {
  box-sizing: inherit; 
}

html, body {
  height: 100%;
  margin: 0;
  background: #204060;
}

h1{
	margin: 0;
	text-align: center;
}

h5{
	margin: 0;
	padding: 0;
}

p{
	margin: 0;
	padding: 0;
	color: white;
}

a{
	text-decoration: none;
}



.clearfix{
	content: '';
	display: table;
	clear: both; 
}

header {
	width: 100%;
	height ;
	padding: 10px;
	border: 1px solid black;
	background: #7cf;
	border-bottom: 5px solid grey;
}

.menu-icon{
	margin: 0;
	float: right;
	display: block;
}

.nav {
	margin: 0 auto;
	padding: 0;
	/*display: none;*/
}

.links{
	text-align: center;
	display: block;
	padding: 10px;
	/*border: 1px black dotted;*/
}

.wrapper{
	width: 100%;
	/*height: 100%;*/
	margin: 0 auto;
	
}

.showy{
	height: 300px;
	background-image: url("images/illusion.png");
	border-bottom: 5px solid grey;
}

.texty {
	background-color: rgba(0,0,0,.5);
	width: 100%;
	height: 100%; 
}

.texty p{
	position: relative;
	top: 50%;
	left: 50%;
}

.main {
	margin-top: 20px;
	margin-bottom: 20px;
}

section{
	margin: 0 auto;
	padding: 50px;
	border: 3px solid #7cf;
	background-color: azure;
	width: 500px;
}

section p {
	color: black;
}

.profile{
	width: 160px;
	margin: 10px;
	float: left;

}

.profile p{
	padding: 10px;
	color: grey;
}

footer{
	background-color: #7cf;
	padding: 10px;
	border-top: 5px solid grey;
	color: white;
}

form{
	margin: 0 auto;
	width: 200px;
	border: 1px solid black;

}

.about-person{
	background-color: white;
	/*border: 2px solid #7cf;*/
	margin-bottom: 20px;
	border-bottom: solid 2px grey;
}

.person-pic{
	width: 160px;
	margin: 0 auto;

}

/*.desc{
	float: left;
	width: 300px;
}*/

@media (min-width: 760px){
	header{

	}
	
	header:after{
		content: '';
		display: table;
		clear: both; 
	}

	.logo{
		position: absolute;
		top: 20px;
	}

	.nav{
		float: right;
	}

	.links{
		display: inline-block;
	}

	section{
		width: 700px;
	}

	.persons{
		margin: 0 auto;
		width: 420px;
	}

	.profile{
		margin: 20px;
		float: none;
		display: inline-block;

	}
}

@media (min-width: 1000px){
	section{
		width: 80%;
		max-width: 1000px;
	}
}