/* box-shadow: 10px 5px 5px red; */

*,
*:before,
*:after {
	box-sizing: border-box;
}

:root {
	--primary: firebrick;
	--secondary: ;
	--bg-color: #f5f5f5;
	--bg-dark: #4d4d4d;
	--site-color-1: #333d33;
	--site-color-2: #4d574d;
	--site-color-3: #d9e5e2;
	--site-color-4: #f5f5f5;
	--site-color-5: #171c1a;
	--primary-color: #333333;
	--secondary-color: #4d4d4d;
	--light-color: #e6e6e6;
	--md-light-color: #737373;
	--accent-color: #4196fa;
	--accent-color2: #8bfda2;
	--max-width: 1100px;
}

/* Utilities  */
.text-center {
	text-align: center;
}

.flex-row { 
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
}

.center-content {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.thumbnail--maroon {
    border-top: #3c1053 solid 16px
}

.thumbnail--orange {
    border-top: #ff9e1b solid 16px
}

.thumbnail--blue {
    border-top: #0077c8 solid 16px
}

.thumbnail--lime {
    border-top: #84bd00 solid 16px
}

html,
body {
	background-color: var(--bg-color);
	font-family: 'Open Sans', arial, sans-serif;
	position: relative;
}

body:after {
	animation: fade-out 1s;
    background: white;
    content: '';
	opacity: 0;
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

@keyframes fade-out {
	from {
		opacity: 1;
	 	z-index: 2;
	}
	to {
		opacity: 0;
		z-index: -1;
	}
}

.scroll-progress {
	animation-duration: 1ms; /* for firefox */
	animation-timeline: scroll();
	animation-timing-function: linear;
	animation-name: progress;
	background-color: var(--primary);
	height: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
}

@keyframes progress {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}

header {
	align-items: center;
	animation-timeline: scroll();
	animation-name: header-shrink;
	animation-timing-function: linear;
	animation-duration: 1ms; /* for firefox */
	animation-range: 30px;
	background: var(--primary-color);
	border-bottom: 4px solid var(--primary);
	color: var(--site-color-4);
	display: flex;
	height: 100px;
	padding: 1rem;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 2;
}

	/* Modifier */
header.header--transparent {
	background: rgba(0, 0, 0, 0.2);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

header span {
	font-size: 1.5rem;
	font-weight: bold;
}

header .logo a {
	font-size: 30px;
	font-weight: 700;
	position: relative;
}

header a {
	color: var(--site-color-4);
	font-size: 20px;
	font-weight: 400;
	text-decoration: none;
}

header .wrapper {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1000px;
}

@keyframes header-shrink {
	0% {
		height: 100px;
	}
	2% {
		height: 60px;
	}
	100% {
		height: 60px;
	}
}

footer {
	background-color: var(--bg-dark);
	color: var(--bg-color);
	padding: 1rem;
}

.hero {
	background: var(--bg-dark);
	height: 100vh;
	width: 100%;

	.hero-inner {
		width: 1000px;
	}
}

h1 {
	color: var(--primary);
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	padding: 2rem;
}

.media {
	margin-bottom: 1rem;  

	img {
		width: 100%;	
	}
}

.alternating-features {
	display: flex;
	flex-wrap: wrap;
	
	.feature-left {
		align-items: flex-start;
		display: flex;
		flex-wrap: wrap;
	
		.media-heading,p {
			padding-left: 1rem;
		}
	}
	
	.feature-right {
		align-items: flex-start;
		display: flex;
		flex-wrap: wrap;
		
		.media-heading,p {
			padding-right: 1rem;
		}
	}
}

.example-svg {
	align-items: center;
	display: flex;
}

.section-toggles {
	display: flex;
	width: 100%;
}
	
.section-toggle {
	background: var(--site-color-5);
	border: 1px solid var(--primary-color);
	border-bottom: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;
	transition: background 0.5s ease;
	width: 100px;
}

.section-toggle a {
	color: var(--site-color-4);
	display: block;
	font-weight: bold;
	padding: 10px 20px;
	transition: color 0.5s ease;
}

.section-toggle a:hover {
	font-weight: bold;
	padding: 10px 20px;
}

.section-toggle.selected {
	background: var(--light-color);
}

.section-toggle.selected a {
	color: var(--site-color-5);
}

.information {
	background-color: var(--light-color);
	box-shadow: 4px 4px 20px var(--site-color-5); /* offset-x | offsey-y | blur-radius | color */
	padding: 20px;
	width: 100%;
}

#area2,
#area3 {
	display: none;
}

/* =============== table styling template =================== */
html {
	font-family: sans-serif;
}

table {
	border: 2px solid rgb(200,200,200);
	border-collapse: collapse;
	font-size: 0.8rem;
	letter-spacing: 1px;
}

td, th {
	border: 1px solid rgb(190,190,190);
	padding: 10px 20px;
}

th {
	background-color: rgb(235,235,235);
}

td {
	text-align: center;
}

tr:nth-child(even) td {
	background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
	background-color: rgb(245,245,245);
}

caption {
	padding: 10px;
}
/* =============== table styling template END =================== */
/* =============== CSS tabs ===================  */
.tabs {
	display: flex;
	flex-wrap: wrap; /* make sure it wraps */
}
.tabs label {
	background: var(--primary);
	border-radius: 10px 10px 0px 0px;
	color: #fff;
	cursor: pointer;
	display: block;
	font-weight: bold;
	margin-right: 0.2rem;
	order: 1; /* Put the labels first */
	padding: 1rem 2rem;
	transition: background ease 0.2s;
	
}
.tabs .tab {
	background: #fff;
	display: none;
	flex-grow: 1;
	opacity: 0;
	order: 99; /* Put the tabs last */
	padding: 1rem;
	width: 100%;
}
.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
	background: #fff;
	color: var(--primary);
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
	opacity: 1;
}

/* animation */

footer {
	background: var(--secondary-color);
}
footer .wrapper {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1000px;
}

.animation {
	background-color: var(--site-color-5);

	h2 {
		background-color: var(--md-light-color);
		border-radius: 5px;
		color: var(--light-color);
		max-width: 300px;
		padding: 1rem;
		position: relative;
		left: 50%;
		text-align: center;
		transform: translateX(-50%);
	}
}

.perspective {
	background-color: var(--site-color-5);
	perspective: 100px;
	position: relative;

	h2 {
		position: relative;
		top: -20px;
	}
}

.perspective p {
	color: var(--light-color);
}

.perspective__featured {
	display: flex;
	justify-content: space-around;
	max-width: 768px;
	padding: 2rem;
	position: relative;
	left: 50%;
	transform: translateX(-50%) translateZ(10px);
}

.perspective__featured img {
	height: 80px;
	position: relative;
	width: 80px;
}

.star-float::before {
	animation: still 2s ease-in-out infinite alternate ;
	background: radial-gradient(rgba(255, 255, 190, 0.7) 0%, var(--site-color-5) 70%);
	border-radius: 50%;
	content: "";
	height: 80px;
	position: absolute;
	bottom: -40px;
	left: 50%;
	transform: rotateX(70deg) translateY(0) translateX(-50%);
	width: 80px;
}
	/* 
	animation-duration: 3s;
	animation-name: slide-in;
	animation-iteration-count: infinite;
	animation-direction: alternate; 

	animation: 3s infinite alternate slide-in;
	*/

.perspective__featured .star {
	animation: spin 30s linear infinite;
	fill: yellow;
}

.perspective__featured .star-float {
	animation: float 2s ease-in-out infinite alternate;
}

.perspective__featured .heart {
	animation: pulse 2s ease infinite;
	fill: red;
}

.perspective__featured .shield {
	animation: lift 2s ease-out infinite;
	fill: slate;
}

@keyframes float {
	0% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(5px);
	}
}

@keyframes still {
	0% {
		transform: rotateX(70deg) translateY(15px) translateX(-50%) scale(1);
	}
	100% {
		transform: rotateX(70deg) translateY(-15px) translateX(-50%) scale(1.4);
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	10% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes lift {
	0% {
		transform: translateY(0px);
	}
	60% {
		transform: translateY(-5px);
	}
	65% {
		transform: translateY(0px);
	}
	67% {
		transform: translateY(-2px);
	}
	69% {
		transform: translateY(0px);
	}
	70% {
		transform: translateY(-1px);
	}
}

.perspective__sub {
	background-color: #4d4d4d;
	border-radius: 5px;
	padding: 1rem;
	max-width: 768px;
	position: relative;
	left: 50%;
	transform: translateX(-50%) translateZ(-20px);
}

.buttons {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 768px;

	.btn {
		border: none;
		border-radius: 8px;
		color: var(--light-color);
		cursor: pointer;
		height: 60px;
		margin: 1rem;
		width: 140px;
	}

	.btn-primary {
		background-color: var(--primary);
	}

	.btn-primary:hover {
		background-color: rgb(151, 29, 29);
	}

	.btn-ghost {
		background-color: transparent;
		border: var(--primary) 3px solid;
		border-radius: 8px;
		color: var(--light-color);
	}

	.btn-ghost:hover {
		background-color: var(--primary);
	}

	.btn-glow {
		background-color: var(--primary-color);
		transition: background-color 0.5s,
					box-shadow 0.5s;
	}

	.btn-glow:hover {
		background-color: transparent;
		box-shadow: 0px 0px 20px white;
		transition: background-color 0.5s,
					box-shadow 0.5s;
	}

	.btn-glow:active {
		background-color: white;
		color: var(--primary-color);
		transition: background-color 0s;
	}

	.btn-sign {
		background: transparent;
		border: rgb(61, 12, 12) 5px solid;
		color: var(--primary-color);
		font-weight: bold;
		position: relative;
		text-transform: uppercase;
	}

	.btn-sign:hover:before {
		animation: flicker 0.075s linear 8;
		background: transparent;
		border: red 5px solid;
		border-radius: 8px;
		color: var(--primary-color);
		content: '';
		font-weight: bold;
		text-transform: uppercase;
		opacity: 0;
		position: absolute;
		top: -5px;
		right: -5px;
		bottom: -5px;
		left: -5px;
	}

	.btn-sign:hover {
		/* animation: name duration timing-function delay iteration-count direction fill-mode; */
		animation: on 10s 0.5s linear infinite;
		border: red 5px solid;
		box-shadow:  0 0 10px red;
		color: white;
		transition: all 0.0s 0.5s;
	}

	.btn-container {
		/* background-color: orange; */
		border-radius: 10px;
		position: relative;
		z-index: 1;

		.btn-3d {
			background-color: var(--primary);
			box-shadow: 0 16px rgb(151, 29, 29);
			height: 60px;
			position: relative;
			top: -16px;
			transition: all 0.1s;
			width: 140px;
			z-index: 1;
		}

		.btn-3d:hover {
			background-color: var(--primary);
			box-shadow: 0 12px rgb(151, 29, 29);
			top: -12px;
		}

		.btn-3d:active {
			background-color: var(--primary);
			box-shadow: 0 4px rgb(151, 29, 29);
			top: -4px;
		}

		.btn-base {
			background: darkorange;
			border-radius: 10px;
			content: '';
			height: 90%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			width: 90%;
		}
	}

	.btn-slide {
		align-items: center;
		background-color: var(--primary-color);
		display: flex;
		justify-content: center;
		overflow: hidden;
		position: relative;
		
	}

	.arrow {
		position: absolute;
		right: -20px;
		transition: all 0.2s;
	}

	.btn-slide:hover .arrow {
		right: 0px;
		transition: all 0.2s;
	}
	
	.btn-shine {
		animation: bg-scroll 10s linear infinite;
		background: url(pics/btn-pattern.jpg);
		background-size: 200%;
		color: #171c1a;
		overflow: hidden;
		position: relative;
	}	

	.btn-shine:after {
		align-items: center;
		background-color: var(--primary-color);
		color: var(--light-color);
		content: 'Click';
		display:  flex;
		justify-content: center;
		opacity: 1;
		position: absolute;
		top: 0;
        right: 0;
        bottom: 0;
        left: 0;
		transition: opacity 0.2s;
	}
	
	.btn-shine:hover:after {
		opacity: 0;
	}

	.btn-shine:hover {
		background: url(pics/btn-pattern.jpg);
		background-size: 200%;
		color: #171c1a;
		filter: blur(0.5);
	}
}

@keyframes bg-scroll {
	0% {
		background-position: 0px;
	}
	100% {
		background-position: 280px ;
	}
}

@keyframes flicker {
	50% {
		opacity: 1;
	}
}

@keyframes test {
	50% {
		border: red 5px solid;
	}
}

.animation {
	.panel {
		align-items: center;
		background: linear-gradient(125deg, blue, transparent); 
		border: 6px solid var(--light-color);
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		height: 300px;
		justify-content: center;
		margin: 0 auto;
		width: 200px;	
		
		a {
			color: white;
			font-size: 1.25rem;
			margin-bottom: 1rem;
			position: relative;
			text-decoration: none;
		}

		a:after {
			background: url("pics/hand-pointer.svg");
			background-size: contain;
			content: '';
			display: none;
			height: 50px;
			position: absolute;
			top: -8px;
			left: -60px;
			transform: rotate(90deg);
			width: 50px;
		}

		a:hover:after {
			display: block;
		}

		a:before {
            background: radial-gradient(#ffffff, transparent 75%);
			content: '';
            height: 110%;
            opacity: 0;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 110%;
		}

		a:hover:before {
			opacity: 0.4;
			transition: opacity 0.2s;
		}
	}
}

.perspective-container {
	display: flex;
    flex-flow: wrap;
	perspective: 500px;
	perspective-origin: left;
	transform-style: preserve-3d;
	
	h2 {
		width: 100%;
	}

	.card {
		height: 210px;
        perspective: 500px;
		transform: rotateY(0deg);
        transform-style: preserve-3d;
		transition: transform .8s;
		width: 150px;

		.card-front {
			align-items: center;
			background: var(--site-color-3);
			display: flex;
			height: 100%;
			justify-content: center;
			position: absolute;
			transform: translateZ(0.5px);
			width: 100%;
		}

		.card-back {
			align-items: center;
			background: var(--site-color-2);
			color: var(--light-color);
			display: flex;
			height: 100%;
			justify-content: center;
			position: absolute;
			transform: rotateY(180deg);
			width: 100%;
		}
	}

	.card:hover {
		transform: rotateY(180deg);
	}

	.card.active {
		transform: rotateY(180deg);
	}

}

@keyframes on {
	25.1% {
		border:  red 5px solid;
		color: white;
	}
	25.3% {
		border: transparent 5px solid;
		color: transparent;
	}
	25.5% {
		border: red 5px solid;
		color:  white;
	}
	90.1% {
		border: red 5px solid;
		color:  white;
	}
	90.4% {
		border: transparent 5px solid;
		color:  white;
	}
	90.7% {
		border: red 5px solid;
		color:  white;
	}
	99.1% {
		border: red 5px solid;
		color:  white;
	}
	99.3% {
		border: transparent 5px solid;
		color:  transparent;
	}
	99.5% {
		border: red 5px solid;
		color:  white;
	}
}

@media (min-width: 1024px) {
	main {
		margin: 0 auto;
	}
	
	.alternating-features {
		display: flex;
		
		.media {
			align-items: center;
			flex-flow: row;
			justify-content: center;

			img {
				width: auto;
			}
		}  
		
		.feature-left {
			display: flex;
			flex-flow: row;
			flex-direction: row;
		
			.media-heading,p {
				padding-left: 1rem;
			}
		}
		
		.feature-right {
			display: flex;
			flex-flow: row-reverse;
			
			.media-heading,p {
				padding-right: 1rem;
			}
		}
	}
}
