* {
	box-sizing: border-box;
}

html {
	font-family: 'Cabin', sans-serif;
	background-color: #FFFFF7;
}

body{
	width: 600px;
	margin: 0 auto;
	background-color: #ffd8d8;
	padding: 0px 20px 20px 20px;
	border: 5px solid  #ffb3b3;
	font-family: 'Raleway', sans-serif;
}

h1 {
	margin: 0;
	padding: 20px 0;
	font-size: 60px;
	text-align: center;
	text-shadow: 3px 3px 2px grey;
}

h2{
	margin: 0 auto;
	text-align: center;
}

p, li {
	font-size: 16px;
	line-spacing: 1px;
	line-height: 2;
}

img[src] {
	display: block;
	margin: 0 auto;
}

a:hover {
	color: green;
}

.number1, .number2, .number3{
	height: 60px;
	border: 1px solid black;
	margin: 0 auto;
	font-family: 'palatino', serif;
}

.box{
	border: 1px solid black;
}

.box p{
	padding: 0;
	margin: 0;
}

table{

}

td{
	border: 1px solid black;
	padding: 10px 20px;
	text-align: center;
	margin: 20px auto;
}
