/* ClearFix
	clear: both;
    display: table;
    content: ''; */

/*
---------background colors--------
color 1: #ACCEC0;  08b
color 2: #61A6AB;  9cf
color 3: #FBEEC2;
color 4: #605951;
color 5: #C1B398;
*/

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }


body{
	font-family: 'Open Sans', sans-serif;
	background-color: #9cf;
}

p{
	/*color: white;*/
}

h1{
	text-align: center;
	color: #fff;
	margin: 0;
}

h3{
	color: #808080;
}

h5{
	margin-top: 10px;
}

.wrapper{
	width: 90%;
	margin: auto;
}

.header{
	background-color: #9cf;
	color: #fff;
	font-weight: bold;
}

.header:after{
	clear: both;
    display: table;
    content: '';
}

.header ul li{
	transition: background-color .3s;
}

.header ul li:hover{
	background-color: orange;
	border-radius: 5px;
	transition: background-color .3s;
}

.header a:visited{
	color: white;
}

.header a{
	text-decoration: none;
}

.logo a:hover{
	color: black;
}

#MainCon{
	background-image: url("http://i.imgur.com/L0E8ZmM.png");
	/*background-attachment: fixed;*/
	/*transform: translateZ(-1px) scale(1);*/
}

#MainCon p{
	color: #fff;
}

.info{
	background-color: rgba(0,0,0,.5);
}

.textbox{
	font-size: 1.2rem;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
	max-width: 800px; 
}

.supportHeader{
	background-color: orange;
	width: 100%;
	margin: 0 auto;
	max-width: 1000px;
	min-width: 820px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	font-size: 2.5rem;
}

.support p{
	color: #808080;
}


.support{
	margin: auto;
	background-color: #fff;
	border: 5px solid #fff;
	padding: 10px;
}

.home-support{
	margin: auto;
	background-color: #fff;
	border: 5px solid #fff;
	padding: 10px;
}

.footer{
	background-color: #fff;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	margin: auto;
}

#Viewer{
	margin: auto;
	background-color: white;
	border: 2px solid #9cf;
}

/* * * * Works * * * */
.header-image{
	height: 200px;
	width: 100%;
	border-top: 5px solid #b3b3b3;
	border-bottom: 5px solid #b3b3b3;
	background-image: url("images/background-pat.png");
	margin-bottom: 20px;
}

.dark{
	background-color: rgba(0,0,0,.5);
	height: 190px;
	width: 100%;
}

.header-image h1{
	position: relative;
	top: 60px;
	font-size: 3rem;
}

.projects{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	list-style: none;
}

.projects li{
	width: 400px;
	margin-bottom: 20px;
	
}

.projects a{
	font-weight: bold;
	font-size: 1.2rem;
}

.projects p{
	color: black;
}

.prev{
	display: block;
	float: left;
	margin: 0;
	/*margin-left: 50px;*/
	/*margin-right: 50px;*/
}

/* * * * contact * * * */
.circle{
	border-radius: 100%;
	background: red;
	width: 200px;
	height: 200px;
	text-align: center;
	float: left;
}

.smallcir{
	border-radius: 100%;
	background: blue;
	width: 100px;
	height: 100px;
	position: relative;
	top: 25%;
	left: 25%;
}



/********** Desktop *************/
@media (min-width: 760px){


	.header{
		font-size: 20px;
	}

	.header:after{
		clear: both;
	    display: table;
	    content: '';
	}

	.header ul li{
		display: inline;
		padding: 5px 20px 5px 20px; 
	}

	.nav{
		margin-top: 8px;
		margin-right: 50px;
		float: right;
	}
	.logo{
		height: 80px;
		float: left;
		background: orange;
	}

	.logo p{
		padding: 10px;
		margin-top: 15px;
		font-size: 25px;
		font-family: helvetica;
	}
	
	#MainCon{
		height: 400px;
		width: 100%;
		margin-bottom: 50px;
	} 

	#MainCon h1{
		padding-top: 30px;
		padding-bottom: 30px;
		font-size: 50px;
	}
	.info{
		height: 400px;
		width: 100%;
		border-top: 6px solid #b3b3b3;
		border-bottom: 6px solid #b3b3b3;
	
	/*	position: relative;
		top: 50px;*/
	}

	.profile{
		float: left;
		margin-left: 10px;
		margin-right: 10px;

	}

	.support{
		width: 100%;
		margin-bottom: 20px;
	}

	.home-support{
		width: 100%;
		max-width: 1000px;
		min-width: 820px;
		margin: auto;
		margin-bottom: 20px;
	}

	.support:after{
			clear: both;
		    display: table;
		    content: '';

	}
	
	.home-support:after{
			clear: both;
		    display: table;
		    content: '';

	}

	.support img{
		float: left;
	}

	#left{
		/*height: 800px;*/
		width: 75%;
		float: left;
	}
	#right{
		/*height: 800px;*/
		width: 25%;
		float: left;
	}

	 #sup1{
	 /*	height: 200px;*/
	 	width: 600px;
	 	margin: 10px;
	 	border-bottom: 1px solid #9cf;
	 }

	 #sup2{
	 	/*height: 220px;*/
	 	width: 600px;
	 	margin: 10px;
	 	border-bottom: 1px solid #9cf;
	 	
	 }

	  #sup3{
	 	/*height: 220px;*/
	 	width: 600px;
	 	margin: 10px;
	 	border-bottom: 1px solid #9cf;
	 }
	   #sup4{
	 	/*height: 320px;*/
	 	
	 	margin: 10px;
	 	border-left: 1px solid #9cf;
	 }
	/* #sup5{
	 	height: 320px;
	 	width: 250px;
	 	margin: 10px;
	 	border-left: 1px solid #9cf;
	 }*/
	.footer{
		height: 80px;
		width: 100%;
		max-width: 1000px;
		min-width: 820px;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		margin: auto;
	}

	.footer-text{
		color: #b3b3b3;
	}

	#column1{
		width: 50%;
		font-size: 11px;
		padding-left: 10px;
		float: left;
		border-right: 1px solid white;
	}
	#column2{
		width: 26%;
		font-size: 11px;
		padding-left: 10px;
		float: right;
		border-right: 1px solid white;
	}
	
	table img{
		height: 200px;
		width: 200px;
	}

	
}
@media (min-width: 1000px){
	.projects{
		width: 960px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.projects li{
		margin-right: 50px;

	}


}