*{
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

/*[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}*/

body{			/* Refers to the element 'body' */
	margin: 0;
	padding: 0;
}



.wrapper{
	margin: 0 auto;
	padding: 0;
	width: 100%;

}

.header{
	width: 100%;
	border: 1px solid black;
}

.header h1{
	padding: 0 10px;
}

.logo{

}

.dropdown{
	margin: 0;
	padding: 0;
	width: 100%
}

.dpcontent{
	display: none;
	position: absolute;
	background-color: rgba(255, 255, 255, 50%); 
	width: 25%;
}

.dropdown:hover .dpcontent{
	display: block;
}

.menu{
	display: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	border: 1px solid black;
	text-align: center;
}

.menu li{
	display: block;

}

.menu a{
	display: inline-block;
	padding: 10px;
}

.section1{
	margin: 0;
	padding: 0;
}

.section1 img{
	width: 100%;
}

.section2{
	width: 100%;
	/*display: flex;*/
	position: relative;
	top: -5px;
}

.box1{
	width: 100%;
	border: 1px solid black;
}


.box1 img{
	width: 100%;
}

.box2{
	width: 100%;
	padding: 10px;
	text-align: center;
	border: 1px solid black;
}

.button{
	margin-top: 30px; 
}

.button a{
	padding: 10px 20px;
	border: 1px solid black;
}

@media screen and (min-width: 680px) {

	.wrapper{
	max-width: 1000px;

}

.dropdown{
	display: none;
}

.menu{
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	
	
}

.menu li{
	display: inline;

}

.menu a{
	display: inline-block;
	padding: 10px;
}

.section1{
	margin: 0;
	padding: 0;
}

.section1 img{
	width: 100%;
}

.section2{
	width: 100%;
	display: flex;
	position: relative;
	top: -5px;
}

.box1{
	width: 50%;
	border: 1px solid black;
}


.box1 img{
	width: 100%;
}

.box2{
	width: 50%;
	padding: 10px;
	text-align: center;
	border: 1px solid black;
}

.button{
	margin-top: 30px; 
}

.button a{
	padding: 10px 20px;
	border: 1px solid black;
}
	
	
}

