/* CSS Contains information that will effect how the visual elements of the web page will look
Such as the size, color, position */

/*
Example:;

Selector{
	property: value;
	property: value;
} 

Selector{property: value; property: value;}

h1{
	color: red;
}

.header{
	margin: 10px;
	background-color: pink;
}

*/

*{
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

body{			/* Refers to the element 'body' */
	margin: 0;
	padding: 0;
}

.menu{			/* Refers to the element with class name 'menu' */ 
	
}

#specific{		/* Refers to the elment with ID 'specific' */

}

li:hover{		/* psudeo class */

}

.wrapper{
	width: 810px;
	margin: 0 auto;  	/* Center an element on the page. means top & bottom: 0px; left & right: automactically set so both sides are equal */
	background-color: #FFF;		/* Obvious. Can be specified with words such as white, aquamarine, tomato or hexidecimal codes #ffffff, #2a2aa2, #efefef
/*	padding: 0px 20px 20px 20px;*/
	border: 5px solid  #2a2aa2;
}

.header{
	padding: 10px;
	background-color: #2a2aa2;
	font-family: 
}

h1{
	margin: 0;
	color: #fff;
}

.menu{
	padding-left: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.menu li{
	display: inline;
	padding: 4px 10px;
	background-color: darkblue;
	border-radius: 6px;
	margin: 0 auto;
}

.menu li:hover{
	background-color: blue;
	transition-duration: 0.2s;
}

.menu a{
	color: #FFF;
	text-decoration: none;
}

.container{
	margin: 10px;
}

.carousel{
	width: 810px;
	height: 534px;
}

.section{
	margin: ;	
	width: 810px;
	height: 500px;
}

h2{
	margin-top: 0; 
	margin-bottom: 4px;
}
h4{
	margin-top: 0;

}

p {
	color: ;
	font-size: ;
	font-family: ;
	line-height: ;
	text-align: ;
}

a{
	text-decoration: ;

}

a:hover

a:

div{
	margin: ;
	border: ;
	padding: ;
	width: ;
	height: ;
}

.resize{
	/* resize images by specifying the hieght and width in pixels, but try to keep the aspect ratio the same.
	   useing % or auto also works here */
	width: ; 
	height: ;
}



/* Comments to be made soon */

/* Goals
	1. CSS basics
		• link css file to html doc
		• Selectors, classes, ID  how they work with html
	2. Create normal-looking navigation bar 
	make it look like the new phalanx website prototype

	- create new html File CSS_practice.html and css file style.css
	- copy and paste navigation from the previous page
	- use css to make it look like mine



*/