/* Note: em, strong and a are inline elements 
		 height and width cannot be specified for these elements*/
*{
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

body{			/* Refers to the element 'body' */
	margin: 0;
	padding: 0;
}

.wrapper{
	width: 1000px;
	margin: 0 auto;  	
	background-color: #FFF;		
}

.header h1{
	font-size: 76px;
	font-weight: bold;
}

.navigation{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding: 10px;
}

.menu{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

.menu a{
	text-decoration: none;
	color: black;
}

.menu li{
	display: inline-block;
	padding: 4px 10px;
	border-radius: 6px;
	margin-right: 20px;
	font-size: 30px;
}

.menu li:hover{
	color: white;
	transition-duration: 0.2s;
	background-color: black;
}


.menu a:visited{
	color: black;
}

/*.midsection{
	width: 100%;
	
	
}*/

.midsection{
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
}

.box{

	width: 300px;
	height: 300px;
	padding: 0;
}

#pic{
	height: 400px;
}

.square{
	width: 650px;
}

.footer{
	border: 1px solid black;
	text-align: center;
}

/* 
todays goal:
	1. positioning html elements with css
		display: inline, block, inline-block;
		position: relative, absolute, fixed
		top: bottom: left: right:
		z-index:
	2. divs next to each other across;

	inline: only takes up as much space as it needs to. height and width cannot change;
	block: takes up the entire width of the container
	inline-block: the element is on is own line inside of the parent???;
*/


