/* Structure */
body{
  background: #08b;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}
.column,
.columns {
  padding: 1px;
}
main,
.menu {
  padding-top: 80px; /* Push past fixed header */
}

/* icons */
.icon {
  display: inline-block;
  width: 12px;
  height: 11px;
}

/* Header */
header {
  z-index: 3;

  background: #9cf;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  line-height: normal;
  border-bottom: 2px solid grey;
}
h1,
header a {
  line-height: 80px;
}
h1 {
  color: #fff;
  font-size: 22px;
  font-weight: 800;
  text-align: center;
  float: left;
  margin: 0;
}

h2{
  color: #000;
  border-bottom: 2px solid #000;
}


.menu-toggle {
  background: url(../images/menu.svg) left center no-repeat transparent;
  font-size: 16px;
  color: #2097D2;
  float: right;
  text-decoration: none;
  padding: 0 20px 0 25px;
  margin-right: -20px;
}
.menu-toggle:hover {
  opacity: .6;
}
.menu-toggle.open {
  background-image: url(../images/close.svg);
}

/* Menu */
.menu {
  display: none;
  z-index: 2;

  background-color: rgba(0,0,0,.8);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.menu.open {
  display: block;
}
.menu ul {
  list-style: none;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
.menu li {
  border-bottom: solid 1px rgba(255,255,255,.2);
}
.menu li:last-child {
  border-bottom: none;
}
.menu a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 1em 0;
}
.menu a:hover {
  background-color: rgba(0,0,0,.4);
}



.days li{
  display: inline;
  margin: 0 auto;
}
.btn{
  transition: background .8s ease;

  background: #fff;
  font-weight: bold;
  padding: 12px 24px;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
}

.btn:hover{
  opacity: .2;
}

.btn.open{
  transition: background .8s ease;

  background: orange;
}

.myMenu{
  transition: transform .8s ease;
  transform: translateX(-100%);

  background: #fff;
  margin: 0 auto;
  display: block;
  width: 500px;
  border: 1px solid black;
  text-align: center;
}

.myMenu.open{
  transform: translateX(50%);
  display: block;
}

.list{
  display: block;
  background: grey;
  width: 100px;
  text-align: center;
}

.view{
  background: #9cf;
  margin: 0 auto;
  position: relative;
  top: 10px;
  width: 100%;
  height: 600px;
  background:; azure;
  border: 2px solid #08b;

}

.test{
  padding: 20px;
  background: red;
  color: black;
}

.test.open{
  background: blue;
  color: blue;
}

/* Content */
main {
  padding-bottom: 80px;
  position: relative;
  z-index: 1;
}

/* Medium + */
@media only screen and (min-width: 40.063em) {

}

/* Large + */
@media only screen and (min-width: 64.063em) {

}

/* XLarge + */
/* @media only screen and (min-width: 90.063em) { } */

/* XXLarge + */
/* @media only screen and (min-width: 120.063em) { } */
