.clearFix{
	clear: both;
    display: table;
    content: '';
}

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }


body{
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
}

h1, h2, h4, h5{
	margin: 0;
}

a{
	text-decoration: none;
}


/******************** Colors *********************/

.background-g{
	background-color: #ccffe6;
}
.background-b{
	background-color: #6df;
}

/*************************************************/

.logo{
	position: absolute;
	top: 10px;
	color: #fff;
}

#header{
	width: 100%;
	margin: 0 auto;
	padding: 10px 80px;
	background-color: #08b;
}

#header a{
	color: #fff;
}

/*header:after{
	clear: both;
    display: table;
    content: '';
}*/

nav{
	width: 100%;
	height: 40px;
}

.subLogo{
	float: left;
	padding: 10px;
}

.subNav{
	margin: 0;
}

.navi{
	float: right;
	margin: 0;
}

.naviLinks{
	border-radius: 2px;
	margin-left: 10px;
	transition: border .5s;
	border: 1px solid rgba(0,0,0,0);
}

.naviLinks:hover{
	border: 1px solid rgba(0,0,0,.2);
	transition: border .5s;
}

.naviLinks a{
	color: #fff;
}



li{
	display: inline-block;
	padding: 10px;
	/*padding-left: 10px;
	padding-right: 10px;*/
}

main{
	width: 100%;
	height: 700px;
	background-image: url("../../images/TrianglesAlt.png");
	background-repeat: no-repeat;
	background-position: right top;
}

.stuff{
	width: 100%;
	margin: 0 auto;
}
.text{
	width: 350px;
	padding-top: 100px;

}

.text h2{
	font-size: 3rem;
}

.text p{
	line-height: 1.5;
	font-size: 1.5rem;
}

.first{
	width: 100%;
	height: 350px;
	background-color: #fff;
	padding: 16px 80px;
}

.second{
	width: 100%;
	height: 200px;
	padding-top: 50px;
}

.head2{
	text-align: center;
}

footer{
	width: 100%;
	padding: 10px 80px;
	background-color: #fff;
	color: #999;
}

.subLinks a{
	color: grey;
}



.btn{
	width: 140px;

	background: #fff;
	border-radius: 5px;
	border: solid 2px #bcf;
	margin: 10px auto;
	padding: 10px 20px;

}

.author{
	padding: 10px;
}

/************ About *************/


#about{
	width: 100%;
	margin: 0 auto;
	padding: 10px 76px;
	background-color: #cfc;
}

#about .logo{
	color: #000;
}
#about a{
	color: #000;
}


.shout{
	padding-top: 100px;
	padding-bottom: 100px;
	font-size: 8rem;
	font-weight: lighter;
}

.descript{
	height: 300px;
	padding: 20px 80px;
	color: black;
}

.descript h2{

}

.info1{
	margin: 0 auto;
	width: 300px;
	/*border: 1px solid black;*/
}

.info1 p{
	font-size: .8rem;
	line-height: 1.8;
}

.info2{
	width: 460px;
	margin: 0 auto;
	/*border: 1px solid black;*/
}

.people{
	height: 330px;
	padding: 20px 80px;
	background-color: #b3ffd9;
}

.face{
	float: left;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 90px;
}


@media(min-width: 760px){
	.navi{

	}

	.left{
		width: 50%;
		float: left;
	}

	.right{
		width: 50%;
		float: left;
	}



	.subNavi{
		margin: 0;
		float: right;
	}

	.author{
		width: 100%;
		text-align: center;
	}

	.container{
		padding-top: 10px; 
		display: flex;
		flex-direction: row;
		margin: 0 auto;

	}

	.img1{
		color: grey;
		text-align: center;
		width: 160px;
		height: 160px;
		background-color: grey;
		margin: 0 auto;
		transition: color .5s;
	}

	.img1:hover{
		color: white;
		transition: color .5s;

	}
}

@media(min-width: 1000px){
	
}