/*
  primary #39D1E5
  dark    #083439
  medium  #5D6B6D
  lighter #D4DEDE
  light   #f2f5f5
*/

/* Type */
h1,
h2,
h3 {
  color: #083439;
  font-weight: normal;
  font-size: 16px;
}
h1 {
  margin-bottom: 0;
}
h2 {
  color: #fff;
  margin-top: 0;
  font-size: 30px;
}
h3 {
  font-weight: bold;
}
p,
ul,
ol {

}
p,
li {
  color: #5D6B6D;
}
a,
a:link {
  color: #39D1E5;
}
a:focus {}
a:hover {
  color: #20BACE;
}
a:active {}
a:visited {}

/* structure */
body {
  text-align: center;
  /*background-image: url("http://i.imgur.com/L0E8ZmM.png");*/
}
.container {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}

.container article h3{
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  padding: 5px;
  background: #336699;
  border-radius: 5px;
}

/* Modules */
header,
article,
footer {
  padding: 2em;
}
header {
  background-color: #336699;
}

article{

}

footer {
  border-top: solid 1px #D4DEDE;
  
}

footer h3{
  color: #999;
}

/* Components */
ul {
  list-style: none;
  padding: 10px;
  border: 2px solid #336699;
  border-radius: 5px;
}
