/*
  Styles
*/

/* Base */
h1 {
  margin: 0;
  text-align: center;
}
h2{
  font-weight: bold;
  background: silver;
}

/* Modules */
header {
  border-bottom: solid 1px #ccc;
}
main {
  padding: 10px 0;
}
main .column {
  background-color: #ddd;
  text-align: center;
  border: solid 2px #fff;
}

.day{
  display: inline;
  padding: 0 20px;
  font-weight: bold;
  font-size: 1.2rem;
}

img{
  max-width: 100%;
}

/* Components */



@media (min-width: 641px) { /* Medium up */
  h1 {
    text-align: left;
  }
  main {
    padding: 30px 0;
  }
}

@media (min-width: 1025px) { /* Large up */
  main {
    padding: 40px 0;
  }
}

@media (min-width: 1441px) { /* X-Large up */

}

@media (min-width: 1921px) { /* XX-Large up */

}
