body { 
		background-color: #666766;}

p { 
		text-decoration: none;
		font: 15px verdana, sans-serif;
		padding: 0 20px 0 20px; 
		color: #009;
		}
	
p a:link, p a:visited {
		text-decoration: none;
		color: WHITE; }
	
p a:active, p a:hover {
		color: blue;
		text-decoration: underline; }
		
h2{
		text-align: center;
		color:#009;
		}
	
header {
		margin: 0 auto;
		width: 1000px;
		height: 80px;
	}
	
ul {
		list-style-type: none;
	}

li {
		float: left;
		border: none;
		margin: 0 140px 0 0;
		padding: 0px 0px 0px 10px;
	}
	
nav {
		background-color: #142839;
		width: 1000px;
		height: 36px;
		margin: 0 auto;
	}
	
#centerer {
		margin: 0px auto; 
		width: 1000px;
		height: 750px;
		background-image:url('images/weather.jpeg');
		background-repeat: no-repeat;
		}
		
#imf {
	
		position: absolute;
		top: 840px;
	
	}
	
#bottom {
		background-color: #142839;
		width: 1000px;
		height: 100px;
		margin: 0 auto;
	}
	
#textbox {
		position: relative;
		top: 100px;
		margin: 0 auto;
		height: 60px;
		width: 500px;
		border: #09f outset 3px;
		overflow: hidden;
		
		background-color: #999;
		opacity: .75;
		transition: width 2s, height 2s, padding 2s ;
	}
	
#textbox:hover {
	width: 500px;
	height: 400px;
	
	}
	